fieldset{
    border-radius: 5px;
}

.input div{
    background: beige;
    color: rgb(255, 0, 0);
    border-radius: 10px;
}

.input div div {
    border-radius: 10px;
}

div button{
    margin-left: 5px;
}