
.input  input{
    margin-right: 5px;
}


.input {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.input div {
    margin-top: 0px;
}


.input section button {
    margin-right: 15px;
    width: 85px;
    font-size: 12px;
}

.list_cards{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 750px) {

    .list_cards{
        width: 660px;
    }
    
    
}